@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
* {
    box-sizing: border-box;
}
body{
        background-color: blanchedalmond;
        padding: 10px;
        font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
.header{
    padding:40px;
    text-align: center;
    background-image: url(img/japonsko.jpg);
    border-style: solid ;
}

.header h1{
    color: black;
}


.topnav {
    background-color:#ea542f;
    border-style: solid ;
    border-top-style: none;
        overflow: hidden;}
.topnav a {
    display: block;
    float: left;
    padding: 14px 18px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;

}
.topnav :hover {
    background-color: whitesmoke;
    color: black;
    cursor:pointer;
     
}


.footer {
    color: black;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin-top: auto;
  }


.card{
    background-color: rgb(247, 188, 188);
    padding-bottom: 0;
    text-align: center;
    border: black;
    border-style: solid;
    border-top-style: none;
    margin-left: auto;

  }

  .container {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .containers {
    display: flex;
    gap: 5px; 
    margin-top: auto;     
    margin-bottom: auto;         
  }
  
  .image {
    opacity: 1;
    display: block;
    margin: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  .foto {
    opacity: 1;
    display: block;
    margin: auto;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }

  .text {
    background-color:#ea542f;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .body2 { 
    margin: 0; 
  padding: 0;
  font-family: consolas;
  min-height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  h2 {
    margin: 0; padding: 0;
    position:absolute;
    top: 50%; left: 50%;
    transform:translate(-50%,-50%);
    font-size: 6em; color:transparent;
    text-transform:uppercase;
  }
  h2 span:nth-child(1){
    position:absolute;
    top:0; left:0; color: black;
    transition:0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    overflow:hidden;
  }
  h2:hover span:nth-child(1){
    transform:translateY(-18px); 
  }
  h2 span:nth-child(2){
    position:absolute;
    top:0; left:0; color: black;
    transition:0.5s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow:hidden;
  }
  h2:hover span:nth-child(2){
    transform:translateY(18px); 
  }
  h2 span:nth-child(3){
    position:absolute;
    top:50%; left: 0;
    transform:translateY(-50%) scaleY(0);
    width: 91%; color: #000;
    background: #ea542f;
    font-size: 0.25em; font-weight: 500;
    letter-spacing:0.7em;
    text-align:center;
    padding-left: 20px; margin-left: 5px;
    transition:0.5s;
  }
  h2:hover span:nth-child(3){
    transform:translateY(-50%) scaleY(1);
  }

 
